[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = umaidashi
	email = umaidashi18@gmail.com
[ghq]
	root = ~/Documents/git
