[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = umaidashi
	email = umaidashi18@gmail.com
[ghq]
	root = ~/Documents/git
[init]
	defaultBranch = main
[coderabbit]
	machineId = cli/cb1495ae77fb43f8b1b04292df834c57
